#g-charts-toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.indexID {
  margin: 0 auto 0 0 !important;
}

#g-charts-toolbar label {
  margin-left: 12px;
  margin-right: 12px;
}

#g-charts-toolbar input {
  width: auto;
}
