svg {
  font: 10px sans-serif;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.focus circle {
  fill: steelblue;
}

#g-charts-toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.indexID {
  margin: 0 auto 0 0 !important;
}

#g-charts-toolbar label {
  margin-left: 12px;
  margin-right: 12px;
}

#g-charts-toolbar input {
  width: auto;
}

#g-chart-stats {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
}



.overlay {
  fill: none;
  pointer-events: all;
}

.info circle {
  fill: steelblue;
}

.info text {
  font-size: 14px;
}

.tooltip {
  fill: white;
  stroke: #000;
}

.tooltip-date, .tooltip-values {
  color: black;
  font-weight: bold;
}